@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #252c3a;
    --branco: #19102a;
    --laranja: #c4b0ff;
    --azul-degrade: linear-gradient(97.54deg, #fbc19d 35.49%, #ff1f57 165.37%);
    --fonte-principal: "Poppins";
    --azul: #abdbff;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: white;
}

#logo1 {

    height: 60px;
    width: 60px;
    border-radius: 200px;

}

#luke {

    height: 150px;
    margin-bottom: 40px;

}